moc
obj
rcc
release
Makefile
.DS_Store
QOpenHD.pro.user
QOpenHD.pro.user*
*.stash
gstreamer-*
mac/include
mac/lib
mac/share
cov-int
debug
.builder_version
.openhd_version
.qmake.stash
build-*
*.user

# Consti10 - added everything from https://github.com/github/gitignore/blob/main/Qt.gitignore
 C++ objects and libs
*.slo
*.lo
*.o
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib
.qtc_clangd

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.qm
*.prl

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator 4.8< compilation database
compile_commands.json

# QtCreator local machine specific files for imported projects
*creator.user*

*_qmlcache.qrc

.idea/*
build

.csm_setup_*
.*.swp
.vscode
*.orig
qopenhd.qmltypes
qopenhd_metatypes.json
qopenhd_qmltyperegistrations.cpp

CMakeLists.txt.user
