[submodule "QJoysticks"]
	path = QJoysticks
	url = https://github.com/alex-spataru/QJoysticks.git
[submodule "lib/qmsgpack"]
	path = lib/qmsgpack
	url = https://github.com/romixlab/qmsgpack.git
[submodule "lib/qmdnsengine"]
	path = lib/qmdnsengine
	url = https://github.com/nitroshare/qmdnsengine.git
[submodule "lib/mavlink"]
	path = lib/mavlink
	url = https://github.com/infincia/mavlink.git
[submodule "lib/SortFilterProxyModel"]
	path = lib/SortFilterProxyModel
	url = https://github.com/OpenHD/SortFilterProxyModel.git
[submodule "lib/android/openssl"]
	path = lib/android/openssl
	url = https://github.com/KDAB/android_openssl.git
