[Unit]
Description=rock_h264_decode

[Service]
User=root

# Video decode via mpp, started by QOpenHD if needed (and stopped if needed)
ExecStart=/usr/local/bin/h264_decode.sh

Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
