[Unit]
Description=QOpenHD
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/local/bin/QOpenHD
User=root

[Install]
WantedBy=multi-user.target

