[Unit]
Description=rpi_h264_decode

[Service]
User=root

# This way we get params from qopenhd (which starts this service)
# EnvironmentFile = /tmp/decode_service_params.txt


# Video decode via omx, started by QOpenHD if needed (and stopped if needed)
ExecStart=/bin/sh -c "gst-launch-1.0 udpsrc port=5600 caps='application/x-rtp, media=(string)video, clock-rate=(int)90000, encoding-name=(string)H264' ! rtph264depay ! 'video/x-h264,stream-format=byte-stream' ! fdsink | fpv_video0.bin /dev/stdin"

Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
