name: Build MacOS

on:
  push:

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v3

    - name: Checkout repo
      uses: actions/checkout@v3
      with:
        submodules: recursive


    - name: Install Qt
      uses: jurplel/install-qt-action@v3

    # - name: Install create-dmg
    #   run: brew install create-dmg
    

    - name: Build
      # Build your program with the given configuration
      run: |
        mkdir build
        cd build
        ls ../
        qmake CONFIG+=release ../QOpenHD.pro
        ls -a


    - name: Upload to Github  
      uses: 'actions/upload-artifact@v3'
      with:
        name: "OpenHD Image Writer"
        path: |
          *.app
