name: UbuntuX86BuildTest # Basic test that checks if QOpenHD compiles on x86 ubuntu

on: [push]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout repository and submodules
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Install Dependencies
        run: |
          sudo ./install_dep.sh
          sudo bash install_dep_extra.sh
      - name: Build with make
        run: |
          ./build_qmake.sh
